#header-nav {
    background-color: rgb(143, 143, 143);
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
}
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand h1 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    /* adjust to top by editing line height */
    line-height: 0;
    text-shadow: 1px 1px 1px #222;
    color: black;
    font-family: 'Lora', serif;
    position: absolute;
    left: 5%;
}

.navbar-header button.navbar-toggle {
    margin-right: 10px;
}

#collapsable-nav {
    border: 0px;
    border-color: black;
}

#collapsable-nav #nav-list a {
    text-align: center;
    color: black;
    padding: 0px 0px 5px 0px;
}

#nav-list a hr {
    border-top: 1px solid black;
    margin-bottom: 0px;
    margin-top: 0px;
}

/***************** Main Content **********************/
#main-content {
    padding: 0px 0px 0px 0px;
}
#menu-categories-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-content .row h4 {
    text-align: center;
    font-weight: bold;
}

#chicken, #beef, #sushi {
    background-color: grey;
    margin-bottom: 20px;
    margin-top: 20px;
}


/**************** mdedia query ***********************/

@media (min-width: 768px) {
    #main-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .row {
        margin: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .row {
        margin: 0px 0px 0px 0px;
    }

    #main-content {
        margin-left: 20%;
        margin-right: 20%;
    }

    #chicken_title, #beef_title, #sushi_title {
        padding: 10px 0px 0px;
    }

    #chicken, #beef, #sushi {
        margin: 40px 0px 0px;
    }
}